.frontend-technologies{
    background-image: url(./Images/frontendSmallBanner.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    background-color: rgb(253, 251, 251);
 color: rgb(0, 0, 0);
    text-align: center;
}
.html{
    background-image: url(./Images/programming-background-collage.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.css{
    background-image: url(./Images/cssimg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}
.bootstrap{
    background-image: url(./Images/bootstrap\ img.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}
.javascript{
    background-image: url(./Images/javascript-img.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}
.backendtechnologies{
    background-image: url(./Images/Backend-Development.webp);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}
.python{
    background-image: url(./Images/python-740x416.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}
.mangodb{
    background-image: url(./Images/mangodb.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}
.sql{
    background-image: url(./Images/mysql\ -img.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

}